<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyTracker"
        tools:targetApi="31">
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.MoneyTracker.NoActionBar"> <!-- Opsional: Terapkan tema tanpa ActionBar -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity: No longer the launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="false"> <!-- Set exported ke false karena tidak lagi launcher utama -->
        </activity>

        <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeActivity"> <!-- Opsional: Untuk tombol back -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeActivity" />
        </activity>

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeActivity"> <!-- Opsional: Untuk tombol back -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WelcomeActivity" />
        </activity>

        <!-- Existing Activities -->
        <activity
            android:name=".AddTransactionActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".ReportActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:parentActivityName=".ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProfileActivity" />
        </activity>

    </application>

</manifest>